body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif, Arial;
}

.navbar {
  margin: 0;
  padding: 0;
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


.about-us-section {
  background-color: #2d2d62;
  padding: 150px 20px 80px; /* further reduced side padding */
  color: white;
}

.about-us-container {
  width: 100%;
  max-width: 1600px; /* wider container for large screens */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.about-us-text {
  flex: 3;
  min-width: 300px;
}

.about-us-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}

.about-us-text p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #e0e0e0;

}

.about-us-image {
  flex: 1;
  min-width: 700px; /* Increased from 280px */
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

@media (max-width: 1500px) {
  .about-us-container {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .about-us-text h2 {
    font-size: 28px;
  }

  .about-us-text p {
    font-size: 15px;
  }

  .about-us-image {
    margin-top: 30px;
    min-width: unset;
  }
}
